body {
  margin: 0;
  background: #0b1220;
  font-family: Arial, sans-serif;
  color: #fff;
}

.app {
  padding: 18px;
}

h2 {
  text-align: center;
}

.card {
  background: #121c34;
  border-radius: 12px;
  padding: 14px;
  margin: 12px 0;
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #22c55e;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin-bottom: 6px;
}
